.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

.welcome {
  text-align: center;
  color: rgba(67, 66, 66, 0.409);
  padding-top: 50%;
}
